body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
a:hover { text-decoration:underline; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; }
.header{
    width: 100%;
    height: 80px;
    background: #ddd;
    overflow: hidden;
}
.header > .title{
    text-align: center;
    font-size: 30px;
    height: 30px;
    line-height: 30px;
    color: #ff4400;
}
.header > .nav {
    width: 100%;
    height: 32px;
    margin-top: 10px;
    line-height: 30px;
    background-color: #eee;
    display: -webkit-flex;
    justify-content: space-around;
}
.header > .nav > img{
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.header > .nav > a{
    color: #ff4400;
}
.content {
    width: 100%;
    background: #eee;
    position: relative;
    overflow: hidden;
}
.content > h1{
    color: #ff4400;
    font-size: 40px;
    font-weight: 666;
    margin-left: 20px;
    margin-top: 20px;
    text-decoration: underline;
}
.content > .introduce {
    margin-top: 20px;
    margin-left: 99px;
    line-height: 30px;
    width: 500px;
    height: 150px;
    border-bottom: 1px solid #777;
    /* position: absolute; */
}
.content > .introduce > p {
    text-indent: 30px;
}
 .aside{
    width: 50px;
    height: 400px;
    position: fixed;
    top: 100px;
    right: 66px;
    background: #ff4400;
}
 .aside > div{
    width: 46px;
    height: 46px;
    border: 2px solid #CFAD14;
    margin-bottom: 30px;
    text-align: center;
}